<div class="content" style="margin: 2%">
  <div class="d-flex justify-content-end">
    <button
      type="button"
      class="btn btn-info"
      routerLink="/empleados/registro-empleado"
    >
      Nuevo
    </button>
  </div>

  <br />

  <div>
    <div class="table-responsive" *ngIf="false">
      <table class="table">
        <thead>
          <tr>
            <th *ngFor="let h of header">{{ h }}</th>
          </tr>
        </thead>
        <tbody *ngFor="let empleado of listEmpleados">
          <tr>
            <td>
              {{ empleado.numEmpleadoRrHh }}
            </td>
            <td>{{ empleado.nombre }} {{ empleado.apPaterno }} {{ empleado.apMaterno }}</td>
            <td>{{ empleado.tipoEmpleado }}</td>

            <td>{{ empleado.categoria }}</td>
            <td>{{ empleado.tipoContrato }}</td>
            <td>{{ empleado.cvePuesto }}</td>
            <td>
              <p class="text-center">{{ empleado.empresa }}</p>
            </td>
            <td>
              <p class="text-center">{{ empleado.ciudad }}</p>
            </td>
            <td>
              <p class="text-center">{{ empleado.nivelEstudios }}</p>
            </td>
            <td>
              <p class="text-center">{{ empleado.formaPago }}</p>
            </td>

            <td>
              <p class="text-center">{{ empleado.jornada }}</p>
            </td>
            <td>
              <p class="text-center">{{ empleado.departamento }}</p>
            </td>
            <td>
              <p class="text-center">{{ empleado.clasificacion }}</p>
            </td>
            <td>
              <p class="text-center">{{ empleado.jefeDirecto }}</p>
            </td>
            <td>
              <p class="text-center">{{ empleado.unidadNegocio }}</p>
            </td>
            <td>
              <p class="text-center">{{ empleado.tipoContratoSat }}</p>
            </td>
            <td>
              <p class="text-center">{{ empleado.numEmpleado }}</p>
            </td>
            <td>
              <p class="text-center">
                {{ empleado.fechaIngreso | date : "dd/MM/yyyy" }}
              </p>
            </td>
            <td>
              <p class="text-center">
                {{ empleado.fechaSalida | date : "dd/MM/yyyy" }}
              </p>
            </td>
            <td>
              <p class="text-center">
                {{ empleado.fechaUltimoReingreso | date : "dd/MM/yyyy" }}
              </p>
            </td>
            <td>
              <p class="text-center">{{ empleado.nss }}</p>
            </td>
            <td>
              <p class="text-center">{{ empleado.emailBovis }}</p>
            </td>
            <td>
              <p class="text-center">{{ empleado.experiencias }}</p>
            </td>
            <td>
              <p class="text-center">{{ empleado.habilidades }}</p>
            </td>
            <td>
              <p class="text-center">{{ empleado.urlRepositorio }}</p>
            </td>
            <td>
              <p class="text-center">{{ empleado.salario }}</p>
            </td>
            <td>
              <p class="text-center">{{ empleado.profesion }}</p>
            </td>
            <td>
              <p class="text-center">{{ empleado.antiguedad }}</p>
            </td>
            <td>
              <p class="text-center">{{ empleado.turno }}</p>
            </td>
            <td>
              <p class="text-center">{{ empleado.unidadMedica }}</p>
            </td>

            <td>
              <p class="text-center">{{ empleado.registroPatronal }}</p>
            </td>
            <td>
              <p class="text-center">{{ empleado.cotizacion }}</p>
            </td>
            <td>
              <p class="text-center">{{ empleado.duracion }}</p>
            </td>

              <ng-container>
                <td *ngIf="empleado.activo"> <p class="text-center">Activo</p></td>
                <td *ngIf="!empleado.activo"><p class="text-center">Inactivo</p></td>
              </ng-container>

            <td>
              <p class="text-center">{{ empleado.descuentoPension }}</p>
            </td>
            <td>
              <p class="text-center">{{ empleado.porcentajePension }}</p>
            </td>
            <td>
              <p class="text-center">{{ empleado.fondoFijo }}</p>
            </td>
            <td>
              <p class="text-center">{{ empleado.creditoInfonavit }}</p>
            </td>
            <td>
              <p class="text-center">{{ empleado.tipoDescuento }}</p>
            </td>
            <td>
              <p class="text-center">{{ empleado.valorDescuento }}</p>
            </td>
            <td>
              <p class="text-center">{{ empleado.empleadoNoi }}</p>
            </td>
            <td>
              <a  [routerLink]="['/empleados/registro-empleado', empleado.numEmpleadoRrHh]" ngbTooltip="Editar registro">
                <i class="fas fa-edit"></i>
              </a>
            </td>
            <td>
              <!-- (click)="confirm($event, empleado)" -->
              <i
                *ngIf="false"
                class="pi pi-trash c-del"
                ngbTooltip="Eliminar registro"
                pTooltip="Da clic para eliminar el registro capturado"
                tooltipPosition="left"
              ></i>
            </td>
            <td *ngIf="false">
              <!-- [routerLink]="['consulta', empleado.id]" -->
              <a
                ngbTooltip="Consultar empleado"

              >
                <i class="fas fa-eye"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>



  </div>

  <div class="card">
    <p-toolbar styleClass="p-mb-4">
      <ng-template pTemplate="left">
        <p-button *ngIf="listEmpleadosExcel.length > 0"
          icon="pi pi-file-excel"
          pTooltip="Exportar Excel"
          styleClass="p-button-success f-2x"
          (click)="exportJsonToExcel()">
        </p-button>

        <!--  <button pButton pRipple [label]="Delete" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedProducts()" [disabled]="!selectedProducts || !selectedProducts.length"></button> -->
      </ng-template>

      <ng-template pTemplate="right">
        <!--  <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="p-mr-2 p-d-inline-block"></p-fileUpload>
          <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"></button> -->
      </ng-template>
    </p-toolbar>

    <p-table #dt [value]="listEmpleados" [rows]="10" [paginator]="true" [(selection)]="selectedRegistros"
      selectionMode="single" [responsive]="true" [rowHover]="true" dataKey="id"
      currentPageReportTemplate="Mostrando {first} de {last} de {totalRecords} elementos" [lazy]="false"
      [scrollable]="true" [showCurrentPageReport]="true" [globalFilterFields]="['descripcion', 'id']"
      [rowsPerPageOptions]="[10,25,50]" selectionMode="single">
      <ng-template pTemplate="caption" *ngIf="false">
         <div class="table-header">

            <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')"
                 placeholder="Búsqueda por descripción" />
            </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="numEmpleadoRrHh">Número de empleado RRHH <p-sortIcon field="numEmpleadoRrHh"></p-sortIcon></th>
          <th pSortableColumn="rfc">Persona <p-sortIcon field="rfc"></p-sortIcon></th>
          <th pSortableColumn="fechaNacimiento">Tipo empleado <p-sortIcon field="fechaNacimiento"></p-sortIcon></th>
          <th pSortableColumn="email">Categoria <p-sortIcon field="email"></p-sortIcon></th>
          <th pSortableColumn="telefono">Tipo de contrato <p-sortIcon field="telefono"></p-sortIcon></th>
          <th pSortableColumn="celular">Puesto <p-sortIcon field="celular"></p-sortIcon></th>
          <th pSortableColumn="curp">Empresa <p-sortIcon field="curp"></p-sortIcon></th>
          <th pSortableColumn="sexo">Ciudad <p-sortIcon field="sexo"></p-sortIcon></th>
          <th pSortableColumn="tipoPersona">Nivel de estudios <p-sortIcon field="tipoPersona"></p-sortIcon></th>
          <th pSortableColumn="edoCivil">Forma de pago<p-sortIcon field="edoCivil"></p-sortIcon></th>
          <th pSortableColumn="tipoSangre">Jornada <p-sortIcon field="tipoSangre"></p-sortIcon></th>
          <th pSortableColumn="activo">Departamento <p-sortIcon field="activo"></p-sortIcon></th>

          <th pSortableColumn="numEmpleadoRrHh">Clasificación <p-sortIcon field="numEmpleadoRrHh"></p-sortIcon></th>
          <th pSortableColumn="rfc">Número de directo <p-sortIcon field="rfc"></p-sortIcon></th>
          <th pSortableColumn="fechaNacimiento">Número de negocio <p-sortIcon field="fechaNacimiento"></p-sortIcon></th>
          <th pSortableColumn="email">Número de sat <p-sortIcon field="email"></p-sortIcon></th>
          <th pSortableColumn="telefono">Número de empleado <p-sortIcon field="telefono"></p-sortIcon></th>
          <th pSortableColumn="celular">Fecha de ingreso <p-sortIcon field="celular"></p-sortIcon></th>
          <th pSortableColumn="curp">Fecha de salida <p-sortIcon field="curp"></p-sortIcon></th>
          <th pSortableColumn="sexo">Fecha de reingreso <p-sortIcon field="sexo"></p-sortIcon></th>
          <th pSortableColumn="tipoPersona">Nss <p-sortIcon field="tipoPersona"></p-sortIcon></th>
          <th pSortableColumn="edoCivil">Email Bovis<p-sortIcon field="edoCivil"></p-sortIcon></th>
          <th pSortableColumn="tipoSangre">Experiencias <p-sortIcon field="tipoSangre"></p-sortIcon></th>
          <th pSortableColumn="activo">Habilidades <p-sortIcon field="activo"></p-sortIcon></th>

          <th pSortableColumn="numEmpleadoRrHh">Repositorio <p-sortIcon field="numEmpleadoRrHh"></p-sortIcon></th>
          <th pSortableColumn="rfc">Salario <p-sortIcon field="rfc"></p-sortIcon></th>
          <th pSortableColumn="fechaNacimiento">Profesión <p-sortIcon field="fechaNacimiento"></p-sortIcon></th>
          <th pSortableColumn="email">Antiguedad <p-sortIcon field="email"></p-sortIcon></th>
          <th pSortableColumn="telefono">Turno <p-sortIcon field="telefono"></p-sortIcon></th>
          <th pSortableColumn="celular">Unidad medica <p-sortIcon field="celular"></p-sortIcon></th>
          <th pSortableColumn="curp">Registro patronal <p-sortIcon field="curp"></p-sortIcon></th>
          <th pSortableColumn="sexo">Cotización <p-sortIcon field="sexo"></p-sortIcon></th>
          <th pSortableColumn="tipoPersona">Duración <p-sortIcon field="tipoPersona"></p-sortIcon></th>
          <th pSortableColumn="edoCivil">Activo<p-sortIcon field="edoCivil"></p-sortIcon></th>
          <th pSortableColumn="tipoSangre">Descuento de pension <p-sortIcon field="tipoSangre"></p-sortIcon></th>
          <th pSortableColumn="activo">Pension <p-sortIcon field="activo"></p-sortIcon></th>

          <th pSortableColumn="sexo">Fondo fijo <p-sortIcon field="sexo"></p-sortIcon></th>
          <th pSortableColumn="tipoPersona">Número de infonavit <p-sortIcon field="tipoPersona"></p-sortIcon></th>
          <th pSortableColumn="edoCivil">Tipo descuento<p-sortIcon field="edoCivil"></p-sortIcon></th>
          <th pSortableColumn="tipoSangre">Descuento <p-sortIcon field="tipoSangre"></p-sortIcon></th>
          <th pSortableColumn="activo">Número de noi <p-sortIcon field="activo"></p-sortIcon></th>

        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-empleado>
        <tr>
          <td>{{ empleado.nombre }} {{ empleado.apPaterno }} {{ empleado.apMaterno }}</td>
          <td>{{ empleado.tipoEmpleado }}</td>

          <td>{{ empleado.categoria }}</td>
          <td>{{ empleado.tipoContrato }}</td>
          <td>{{ empleado.cvePuesto }}</td>
          <td>
            <p class="text-center">{{ empleado.empresa }}</p>
          </td>
          <td>
            <p class="text-center">{{ empleado.ciudad }}</p>
          </td>
          <td>
            <p class="text-center">{{ empleado.nivelEstudios }}</p>
          </td>
          <td>
            <p class="text-center">{{ empleado.formaPago }}</p>
          </td>

          <td>
            <p class="text-center">{{ empleado.jornada }}</p>
          </td>
          <td>
            <p class="text-center">{{ empleado.departamento }}</p>
          </td>
          <td>
            <p class="text-center">{{ empleado.clasificacion }}</p>
          </td>
          <td>
            <p class="text-center">{{ empleado.jefeDirecto }}</p>
          </td>
          <td>
            <p class="text-center">{{ empleado.unidadNegocio }}</p>
          </td>
          <td>
            <p class="text-center">{{ empleado.tipoContratoSat }}</p>
          </td>
          <td>
            <p class="text-center">{{ empleado.numEmpleado }}</p>
          </td>
          <td>
            <p class="text-center">
              {{ empleado.fechaIngreso | date : "dd/MM/yyyy" }}
            </p>
          </td>
          <td>
            <p class="text-center">
              {{ empleado.fechaSalida | date : "dd/MM/yyyy" }}
            </p>
          </td>
          <td>
            <p class="text-center">
              {{ empleado.fechaUltimoReingreso | date : "dd/MM/yyyy" }}
            </p>
          </td>
          <td>
            <p class="text-center">{{ empleado.nss }}</p>
          </td>
          <td>
            <p class="text-center">{{ empleado.emailBovis }}</p>
          </td>
          <td>
            <p class="text-center">{{ empleado.experiencias }}</p>
          </td>
          <td>
            <p class="text-center">{{ empleado.habilidades }}</p>
          </td>
          <td>
            <p class="text-center">{{ empleado.urlRepositorio }}</p>
          </td>
          <td>
            <p class="text-center">{{ empleado.salario }}</p>
          </td>
          <td>
            <p class="text-center">{{ empleado.profesion }}</p>
          </td>
          <td>
            <p class="text-center">{{ empleado.antiguedad }}</p>
          </td>
          <td>
            <p class="text-center">{{ empleado.turno }}</p>
          </td>
          <td>
            <p class="text-center">{{ empleado.unidadMedica }}</p>
          </td>

          <td>
            <p class="text-center">{{ empleado.registroPatronal }}</p>
          </td>
          <td>
            <p class="text-center">{{ empleado.cotizacion }}</p>
          </td>
          <td>
            <p class="text-center">{{ empleado.duracion }}</p>
          </td>

            <ng-container>
              <td *ngIf="empleado.activo"> <p class="text-center">Activo</p></td>
              <td *ngIf="!empleado.activo"><p class="text-center">Inactivo</p></td>
            </ng-container>

          <td>
            <p class="text-center">{{ empleado.descuentoPension }}</p>
          </td>
          <td>
            <p class="text-center">{{ empleado.porcentajePension }}</p>
          </td>
          <td>
            <p class="text-center">{{ empleado.fondoFijo }}</p>
          </td>
          <td>
            <p class="text-center">{{ empleado.creditoInfonavit }}</p>
          </td>
          <td>
            <p class="text-center">{{ empleado.tipoDescuento }}</p>
          </td>
          <td>
            <p class="text-center">{{ empleado.valorDescuento }}</p>
          </td>
          <td>
            <p class="text-center">{{ empleado.empleadoNoi }}</p>
          </td>
          <!-- <td>
            <p-tag severity="success" *ngIf="elemento.activo == 1">Activo</p-tag>
            <p-tag severity="danger" *ngIf="elemento.activo == 0">Inactivo</p-tag>
          </td> -->
          <!-- <td>
            <button title="txtEditar" pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2"
              (click)="openDialog(elemento)"></button>
            &nbsp;&nbsp; <button title="btnEliminar" pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
              (click)="eliminarRegistro(elemento)"></button>
          </td> -->
        </tr>
      </ng-template>
      <ng-template pTemplate="summary">
        <!--  <div class="p-d-flex p-ai-center p-jc-between">
              In total there are {{products ? products.length : 0 }} products.
          </div> -->
      </ng-template>
    </p-table>
  </div>


</div>

<p-toast></p-toast>
<p-confirmPopup></p-confirmPopup>
