.h-logo {
    height: 28px;
}

.user-name {
    display: inline-block;
    margin-right: 15px;
    height: 2rem;
    font-style: oblique;
}

.ui-tabview {
  padding: .25em;
  text-align: center;
}

.ui-tabview .ui-tabview-nav li {
  list-style: none;
  float: none;
  position: relative;
  margin: 0 .125em 1px 0;
  padding: 0;
  white-space: nowrap;
  display: inline-block!important;
}
