<div class="" style="margin: 2%">

  <div class="" style="height: 100%;">

    <div class="row">
      <div class="col-sm">
        <label for="email">Empleado:</label>
        <p-dropdown optionLabel="name" [options]="empleadosSub" [showClear]="true" [style]="{ width: '100%' }"
          [disabled]="isConsulta" (onChange)="onChangeEmpleado($event)" placeholder="Seleccionar empleado"></p-dropdown>
      </div>
      <div class="col-sm">
        <label for="email">Mes:</label>
       <!-- <p-calendar [showIcon]="true" [(ngModel)]="fechaCurrent" [style]="{
          width: '100%',
          display: 'inline-flex',
          height: '39px'
        }" view="month" dateFormat="mm/yy" [disabled]="true"></p-calendar> -->

        <input type="text" class="form-control" [(ngModel)]="fechaCurrent" [disabled]="isConsultaSeccion1" />
      </div>
      <div class="col-sm">
        <label for="email">Usuario responsable:</label>
        <input type="text" class="form-control" [(ngModel)]="user" [disabled]="isConsultaSeccion1" />
      </div>
    </div>

    <br>

    <div class="row">
      <div class="col-sm">
        <label for="email">Sábados:</label>
        <br>
        <br>
        <div class="flex flex-wrap gap-3">
          <div class="flex align-items-center">
              <p-radioButton name="pizza" value="Si" [(ngModel)]="sabados" (onClick)="onChangeType('Si',$event)" inputId="ingredient1"></p-radioButton>
              <label for="ingredient1" class="ml-2">Si</label>
          </div>

          <div class="flex align-items-center">
              <p-radioButton name="pizza" value="No" [(ngModel)]="sabados" (onClick)="onChangeType('No',$event)" inputId="ingredient2"></p-radioButton>
              <label for="ingredient2" class="ml-2">No</label>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <label for="email">Días Trabajo / Mes:</label>
        <input type="text" class="form-control" [(ngModel)]="dias" [disabled]="isConsultaSeccion1" />
      </div>
      <div class="col-sm">
        <ng-container *ngIf="false">
          <label for="email">Operaciones:</label>
          <input type="text" class="form-control" [disabled]="isConsulta" />
        </ng-container>
      </div>
    </div>

    <ng-container *ngIf="false">

      <div class="row">
        <div class="col-sm">
          <label for="email">Finanzas:</label>
          <input type="text" class="form-control" [disabled]="isConsulta" />
        </div>
        <div class="col-sm">
          <label for="email">RH:</label>
          <input type="text" class="form-control" [disabled]="isConsulta" />
        </div>
        <div class="col-sm">
          <label for="email">IT:</label>
          <input type="text" class="form-control" [disabled]="isConsulta" />
        </div>
      </div>

      <br />

      <div class="row">
        <div class="col-sm">
          <label for="email">Marketing:</label>
          <input type="text" class="form-control" [disabled]="isConsulta" />
        </div>
        <div class="col-sm">
          <label for="email">La Nube Construcción:</label>
          <input type="text" class="form-control" [disabled]="isConsulta" />
        </div>
        <div class="col-sm">
          <label for="email">Feriado:</label>
          <input type="text" class="form-control" [disabled]="isConsulta" />
        </div>
      </div>

      <br />

      <div class="row">
        <div class="col-sm">
          <label for="email">Vacaciones:</label>
          <input type="text" class="form-control" [disabled]="isConsulta" />
        </div>
        <div class="col-sm">
          <label for="email">Permiso:</label>
          <input type="text" class="form-control" [disabled]="isConsulta" />
        </div>
        <div class="col-sm">
          <label for="email">Incapacidad:</label>
          <input type="text" class="form-control" [disabled]="isConsulta" />
        </div>
      </div>

      <br />

      <div class="row">
        <div class="col-sm">
          <label for="email">Inasistencia:</label>
          <input type="text" class="form-control" [disabled]="isConsulta" />
        </div>
        <div class="col-sm">
          <label for="email">Capacitación:</label>
          <input type="text" class="form-control" [disabled]="isConsulta" />
        </div>
        <div class="col-sm">
          <label for="email">Total:</label>
          <input type="text" class="form-control" [disabled]="isConsulta" />
        </div>
      </div>
    </ng-container>

    <br>

    <ng-container *ngIf="listBaseOtros.length > 0">
      <div class="card">
        <h5><strong>&nbsp;&nbsp;OTROS</strong></h5>
        <div class="row">
          <!-- <div class="col-sm-8"><p class="float-end">left</p></div>
          <div class="col-sm-2"><p class="float-start">right</p></div>
          <div class="col-sm-2"><p class="float-start">right</p></div> -->
          <div class="col-1"></div>
          <div class="col-9 text-right">
            <div class="text-end">
              <!-- <strong>Total: {{ totalObjetivosCualitativos }}%</strong>&nbsp;&nbsp; -->
            </div>
          </div>
          <div class="col-3"></div>
        </div>

        <p-table [value]="listBaseOtros" dataKey="id" editMode="row" [tableStyle]="{ 'min-width': '50rem' }">
          <ng-template pTemplate="header">
            <tr>
              <th style="width: 60%">Descripción</th>
              <th style="width: 20%">Días</th>
              <th style="width: 10%">% Dedicación</th>
              <th style="width: 10%">% Costo</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-objetivo let-editing="editing" let-ri="rowIndex">
            <tr [pEditableRow]="objetivo">
                <td>
                  {{ objetivo?.descripcion }}
                </td>

              <td>
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <input pInputText type="text" [(ngModel)]="objetivo.dias" required />
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{objetivo.dias}}
                  </ng-template>
                </p-cellEditor>
              </td>

              <td>
                {{objetivo?.dedicacion}}
              </td>
              <td>

              </td>

              <td>
                <div class="flex align-items-center justify-content-center gap-2">
                  <ng-container *ngIf="!objetivo.isEditable">
                    <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil"
                       class="p-button-rounded p-button-text"></button>
                    <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check"

                      class="p-button-rounded p-button-text p-button-success mr-2"></button>
                    <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times"

                      class="p-button-rounded p-button-text p-button-danger"></button>
                  </ng-container>
                </div>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="footer">
            <tr>
              <td>
                <strong>Total</strong>
              </td>
              <td>
                <strong> {{totalesOtros.totalDias}}</strong>
              </td>
              <td>
                <strong> {{totalesOtros.totalDedicacion}}%</strong>
              </td>
              <td>
              </td>
            </tr>
        </ng-template>
        </p-table>
      </div>
      <br />
      <div class="text-center">
        <!-- <strong>Total:
          {{
          totalObjetivosCualitativos +
          totalObjetivosTipoUno +
          totalObjetivosTipoDos
          }}
          %</strong>&nbsp;&nbsp; -->
      </div>
      <br />
      <!-- <div class="row">
        <div>
          <div class="d-flex justify-content-end">
            <button pButton pRipple type="button" label="Cargar Objetivos" (click)="saveAllObjetivos()"
              class="p-button-success"></button>
          </div>
        </div>
      </div> -->
    </ng-container>

    <br>

    <ng-container *ngIf="listProyectosEmpleados.length > 0">
      <div class="card">
        <h5><strong>&nbsp;&nbsp;PROYECTOS</strong></h5>
        <div class="row">
          <!-- <div class="col-sm-8"><p class="float-end">left</p></div>
          <div class="col-sm-2"><p class="float-start">right</p></div>
          <div class="col-sm-2"><p class="float-start">right</p></div> -->
          <div class="col-1"></div>
          <div class="col-9 text-right">
            <div class="text-end">
              <!-- <strong>Total: {{ totalObjetivosCualitativos }}%</strong>&nbsp;&nbsp; -->
            </div>
          </div>
          <div class="col-3"></div>
        </div>

        <p-table [value]="listProyectosEmpleados" dataKey="id" editMode="row" [tableStyle]="{ 'min-width': '50rem' }">
          <ng-template pTemplate="header">
            <tr>
              <th style="width: 10%">Número de proyecto</th>
              <th style="width: 60%">Proyecto</th>
              <th style="width: 10%">Días</th>
              <th style="width: 10%">% Dedicación</th>
              <th style="width: 10%">% Costo</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-objetivo let-editing="editing" let-ri="rowIndex">
            <tr [pEditableRow]="objetivo">
                <td>
                  {{ objetivo.numProyecto }}
                </td>
                <td>
                  {{ objetivo.proyecto }}
                </td>

              <td>
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <input pInputText type="text" [(ngModel)]="dias" required />
                  </ng-template>
                  <ng-template pTemplate="output">
                  dddd
                  </ng-template>
                </p-cellEditor>
              </td>

              <td>

              </td>
              <td>

              </td>

              <td>
                <div class="flex align-items-center justify-content-center gap-2">
                  <ng-container *ngIf="!objetivo.isEditable">
                    <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil"
                       class="p-button-rounded p-button-text"></button>
                    <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check"

                      class="p-button-rounded p-button-text p-button-success mr-2"></button>
                    <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times"

                      class="p-button-rounded p-button-text p-button-danger"></button>
                  </ng-container>
                </div>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
      <br />
      <div class="text-center">
        <!-- <strong>Total:
          {{
          totalObjetivosCualitativos +
          totalObjetivosTipoUno +
          totalObjetivosTipoDos
          }}
          %</strong>&nbsp;&nbsp; -->
      </div>
      <br />
      <!-- <div class="row">
        <div>
          <div class="d-flex justify-content-end">
            <button pButton pRipple type="button" label="Cargar Objetivos" (click)="saveAllObjetivos()"
              class="p-button-success"></button>
          </div>
        </div>
      </div> -->
    </ng-container>



  </div>
</div>
