:root {
  --purpel: #24135f;
  --box-black: #0000004d;
  --bord-bt-gray: #d3d3d3;
  --color-white: #ffffff;
  --bg-votacion: #607d8b;
  --danger: #ec3030;
  --succes: #07c407;
  --warn: #f0ca23;
  --blue: rgb(52, 101, 246);
  --color-white: #ffffff;
  --color-save: rgb(36, 189, 36);
  --color-update: rgb(238, 147, 62);
  --grey: #dddce1;
}

.busqueda {
  background: #ffffff;
  margin-bottom: 20px;
}

.head-busqueda {
  background: #03a7bb;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
  padding: 5px;
}



.p-field * {
  display: block;
}

.invalid {
  border: 1px solid #ec3030 !important;
}


.scrollme {
  overflow-x: auto;
}

::ng-deep .customProgress .p-progressbar-label {
  background: #ef5439;
  color: #fff;
}
