
<p-toast></p-toast>

<div class="main-container">

    <h1>Clientes</h1>
  
    <p-toolbar styleClass="p-1 mb-2 d-flex justify-content-start gap-2">  
        <button 
            type="submit" 
            class="btn btn-info"
            (click)="guardarCliente(null)"
        >
            Nuevo
        </button>
    </p-toolbar>

    <div class="table-container">
        <p-table 
            [value]="clientes" 
            [tableStyle]="{ 'min-width': '50rem' }"
            [paginator]="true"
            [showCurrentPageReport]="true"
            currentPageReportTemplate="Mostrando del {first} al {last} de {totalRecords} registros"
            [rowsPerPageOptions]="[10, 25, 50]"
            [rows]="10"
            class="main-table"
        >
            <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="idCliente"><div class="d-flex align-items-center">ID <p-sortIcon field="idCliente"></p-sortIcon></div></th>
                <th pSortableColumn="rfc"><div class="d-flex align-items-center">RFC <p-sortIcon field="rfc"></p-sortIcon></div></th>
                <th pSortableColumn="cliente"><div class="d-flex align-items-center">Cliente <p-sortIcon field="cliente"></p-sortIcon></div></th>
                <th pSortableColumn="activo"><div class="d-flex align-items-center">Activo <p-sortIcon field="activo"></p-sortIcon></div></th>
                <th>Opciones</th>
            </tr>
            </ng-template>
            <ng-template pTemplate="body" let-cliente let-i="rowIndex">
            <tr>
                <td>{{cliente.idCliente}}</td>
                <td>{{cliente.rfc}}</td>
                <td>{{cliente.cliente}}</td>
                <td>{{cliente.activo ? 'Sí' : 'No'}}</td>
                <td>
                  <div class="d-flex gap-2">
                    <button 
                      title="Modificar cliente" 
                      pButton 
                      pRipple 
                      icon="pi pi-pencil" 
                      class="p-button-rounded p-button-success p-mr-2"
                      (click)="guardarCliente(cliente)"
                    ></button>
                  </div>
                </td>
            </tr>
            </ng-template>
        </p-table>
    </div>
</div>