<div class="content" style="margin: 2%">
  <button type="button" class="btn btn-info" (click)="guardar()" [disabled]="isUpdate">
    Guardar</button>&nbsp;&nbsp;
  <button type="button" class="btn btn-info" (click)="clear()" [disabled]="isConsultaButons">
    Clear data</button>&nbsp;&nbsp;
  <button type="button" class="btn btn-info" routerLink="/empleados/empleado">
    Regresar
  </button>

  <br />
  <br />

  <p-accordion [activeIndex]="0">
    <p-accordionTab header="Datos del Empleado">
      <div class="">
        <ng-container *ngIf="isCamposRequeridos">
          <p-messages [(value)]="messages1" [enableService]="false" [closable]="false"></p-messages>
        </ng-container>
        <br />

        <div class="row">
          <div class="col-sm">
            <label for="email">Número de empleado RRHH:</label>
            <input type="number" id="typeNumber" [(ngModel)]="empleado.numEmpleadoRrHh" class="form-control"
              [disabled]="isConsulta" />
          </div>
          <div class="col-sm">
            <label for="email">Persona:</label>
            <p-dropdown #dropDownPersona optionLabel="name" [(ngModel)]="sPersonas" [options]="catPersonas" (onChange)="onChangeComboPersona($event)" placeholder=""
              [showClear]="true" [style]="{ width: '100%' }"   [(ngModel)]="selectedPersona" ></p-dropdown>
          </div>
          <div class="col-sm">
            <label for="email">Tipo empleado:</label>
            <p-dropdown placeholder="" [options]="catTipoEmpleados" [(ngModel)]="sTipoEmpleado" (onChange)="onChangeTipoEmpleado($event)"
              optionLabel="name" [showClear]="true" [style]="{ width: '100%' }"></p-dropdown>
          </div>
        </div>

        <br />

        <div class="row">
          <div class="col-sm">
            <label for="email">Categoria:</label>
            <p-dropdown optionLabel="name" [options]="catCategorias" [(ngModel)]="sCategoria" (onChange)="onChangeCategoria($event)"
              [showClear]="true" [style]="{ width: '100%' }"></p-dropdown>
          </div>
          <div class="col-sm">
            <label for="email">Tipo de contrato:</label>
            <div class="col-12">
              <p-dropdown optionLabel="name" [options]="catTipoContratos" [(ngModel)]="sTipoContrato" (onChange)="onChangeTipoContrato($event)"
                [showClear]="true" [style]="{ width: '100%' }"></p-dropdown>
            </div>
          </div>
          <div class="col-sm">
            <label for="email">Puesto:</label>
            <input type="text" class="form-control" [(ngModel)]="empleado.cvePuesto" [disabled]="isConsulta" />
          </div>
        </div>

        <br />

        <div class="row">
          <div class="col-sm">
            <label for="email">Empresa:</label>
            <p-dropdown optionLabel="name" [options]="catEmpresas" [(ngModel)]="sEmpresa" [showClear]="true" [style]="{ width: '100%' }"
              [disabled]="isConsulta"></p-dropdown>
          </div>
          <div class="col-sm">
            <label for="email">Ciudad:</label>
            <p-dropdown optionLabel="name" [options]="catCiudades" [(ngModel)]="sCiudad" (onChange)="onChangeCiudad($event)"
              [showClear]="true" [style]="{ width: '100%' }"></p-dropdown>
          </div>
          <div class="col-sm">
            <label for="email">Nivel de estudios:</label>
            <p-dropdown optionLabel="name" [options]="catNivelEstudios" [(ngModel)]="sNivelEstudios" (onChange)="onChangeNivelEstudios($event)"
              [showClear]="true" [style]="{ width: '100%' }"></p-dropdown>
          </div>
        </div>

        <br />

        <div class="row">
          <div class="col-sm">
            <label for="email">Forma de pago:</label>
            <p-dropdown optionLabel="name" [options]="catFormasPago" [(ngModel)]="sFormaPago" (onChange)="onChangeFormaPago($event)"
              [showClear]="true" [style]="{ width: '100%' }"></p-dropdown>
          </div>
          <div class="col-sm">
            <label for="email">Jornada:</label>
            <p-dropdown optionLabel="name" [options]="catJornadas" [(ngModel)]="sJornada" (onChange)="onChangeJornada($event)"
              [showClear]="true" [style]="{ width: '100%' }"></p-dropdown>
          </div>
          <div class="col-sm">
            <label for="email">Departamento:</label>
            <p-dropdown optionLabel="name" [options]="catDepartamentos" [(ngModel)]="sDepartamento" (onChange)="onChangeDepartamento($event)"
              [showClear]="true" [style]="{ width: '100%' }"></p-dropdown>
          </div>
        </div>

        <br />

        <div class="row">
          <div class="col-sm">
            <label for="email">Clasificación:</label>
            <p-dropdown optionLabel="name" [options]="catClasificacion" [(ngModel)]="sClasificacion" (onChange)="onChangeClasificacion($event)"
              [showClear]="true" [style]="{ width: '100%' }"></p-dropdown>
          </div>
          <div class="col-sm">
            <label for="email">Número de directo:</label>
            <p-dropdown optionLabel="name" [showClear]="true" [style]="{ width: '100%' }"
              [disabled]="true"></p-dropdown>
          </div>
          <div class="col-sm">
            <label for="email">Número de negocio:</label>
            <p-dropdown optionLabel="name" [options]="catUnidadNegocio" [(ngModel)]="sUnidadNegocio" (onChange)="onChangeNumeroNegocio($event)"
              [showClear]="true" [style]="{ width: '100%' }"></p-dropdown>
          </div>
        </div>

        <br />

        <div class="row">
          <div class="col-sm">
            <label for="email">Número de sat:</label>
            <p-dropdown optionLabel="name" [showClear]="true" [style]="{ width: '100%' }"
              [disabled]="true"></p-dropdown>
          </div>
          <div class="col-sm">
            <label for="email">Número de empleado:</label>
            <input value="0" type="number" id="typeNumber" [(ngModel)]="empleado.numEmpleado" min="0"
              class="form-control" [disabled]="isConsulta" />
          </div>
          <div class="col-sm">
            <label for="email">Fecha de ingreso:</label>
            <p-calendar [showIcon]="true" [(ngModel)]="fechaIngreso" [style]="{
                width: '100%',
                display: 'inline-flex',
                height: '39px'
              }" dateFormat="dd/mm/yy" [disabled]="isConsulta"></p-calendar>
          </div>
        </div>

        <br />

        <div class="row">
          <div class="col-sm">
            <label for="email">Fecha de salida:</label>
            <p-calendar [showIcon]="true" [(ngModel)]="fechaSalida" [style]="{
                width: '100%',
                display: 'inline-flex',
                height: '39px'
              }" dateFormat="dd/mm/yy" [disabled]="isConsulta"></p-calendar>
          </div>
          <div class="col-sm">
            <label for="email">Fecha de reingreso:</label>
            <p-calendar [showIcon]="true" [(ngModel)]="fechaReingreso" [style]="{
                width: '100%',
                display: 'inline-flex',
                height: '39px'
              }" dateFormat="dd/mm/yy" [disabled]="isConsulta"></p-calendar>
          </div>
          <div class="col-sm">
            <label for="email">Nss:</label>
            <input value="0" type="number" id="typeNumber" [(ngModel)]="empleado.nss" min="0" class="form-control"
              [disabled]="isConsulta" />
          </div>
        </div>

        <br />

        <div class="row">
          <div class="col-sm">
            <label for="email">Email Bovis:</label>
            <input type="text" class="form-control" [(ngModel)]="empleado.emailBovis" [disabled]="isConsulta" />
          </div>
          <div class="col-sm">
            <label for="email">Experiencias:</label>
            <input type="text" class="form-control" [(ngModel)]="empleado.experiencias" [disabled]="isConsulta" />
          </div>
          <div class="col-sm">
            <label for="email">Habilidades:</label>
            <input type="text" class="form-control" [(ngModel)]="empleado.habilidades" [disabled]="isConsulta" />
          </div>
        </div>

        <br />

        <div class="row">
          <div class="col-sm">
            <label for="email">Repositorio:</label>
            <input type="text" class="form-control" [(ngModel)]="empleado.urlRepositorio" [disabled]="isConsulta" />
          </div>
          <div class="col-sm">
            <label for="email">Salario:</label>
            <input value="0" type="number" id="typeNumber" [(ngModel)]="empleado.salario" min="0" class="form-control"
              [disabled]="isConsulta" />
          </div>
          <div class="col-sm">
            <label for="email">Profesión:</label>
            <input type="text" class="form-control" [(ngModel)]="empleado.profesion" [disabled]="isConsulta" />
          </div>
        </div>

        <br />

        <div class="row">
          <div class="col-sm">
            <label for="email">Antiguedad:</label>
            <input value="0" type="number" [(ngModel)]="empleado.antiguedad" id="typeNumber" min="0"
              class="form-control" [disabled]="isConsulta" />
          </div>
          <div class="col-sm">
            <label for="email">Turno:</label>
            <input class="form-control" type="text" [(ngModel)]="empleado.turno"  class="form-control"
              [disabled]="true" />
          </div>
          <div class="col-sm">
            <label for="email">Unidad medica:</label>
            <input value="0" type="number" id="typeNumber" [(ngModel)]="empleado.unidadMedica" min="0"
              class="form-control" [disabled]="isConsulta" />
          </div>
        </div>

        <br />

        <div class="row">
          <div class="col-sm">
            <label for="email">Registro patronal:</label>
            <input type="text" class="form-control" [(ngModel)]="empleado.registroPatronal" [disabled]="isConsulta" />
          </div>
          <div class="col-sm">
            <label for="email">Cotización:</label>
            <input type="text" class="form-control" [(ngModel)]="empleado.cotizacion" [disabled]="isConsulta" />
          </div>
          <div class="col-sm">
            <label for="email">Duración:</label>
            <input value="0" type="number" id="typeNumber" [(ngModel)]="empleado.duracion" min="0" class="form-control"
              [disabled]="isConsulta" />
          </div>
        </div>

        <br />

        <div class="row">
          <div class="col-sm">
            <label for="email">Descuento de pension:</label>
            <input type="text" [(ngModel)]="empleado.descuentoPension" class="form-control" [disabled]="true" />
          </div>
          <div class="col-sm">
            <label for="email">Pension:</label>
            <input value="0" type="number" id="typeNumber" [(ngModel)]="empleado.porcentajePension" min="0"
              class="form-control" [disabled]="isConsulta" />
          </div>
          <div class="col-sm">
            <label for="email">Fondo fijo:</label>
            <input value="0" type="number" id="typeNumber" [(ngModel)]="empleado.fondoFijo" min="0" class="form-control"
              [disabled]="isConsulta" />
          </div>
        </div>

        <br />

        <div class="row">
          <div class="col-sm">
            <label for="email">Número de infonavit:</label>
            <input value="0" type="number" id="typeNumber" [(ngModel)]="empleado.creditoInfonavit" min="0"
              class="form-control" [disabled]="isConsulta" />
          </div>
          <div class="col-sm">
            <label for="email">Tipo descuento:</label>
            <input type="text" class="form-control" [(ngModel)]="empleado.tipoDescuento" [disabled]="isConsulta" />
          </div>
          <div class="col-sm">
            <label for="email">Descuento:</label>
            <input value="0" type="number" id="typeNumber" [(ngModel)]="empleado.valorDescuento" min="0"
              class="form-control" [disabled]="isConsulta" />
          </div>
        </div>

        <br />

        <div class="row">
          <div class="col-sm">
            <label for="email">Número de noi:</label>
            <input value="0" type="number" id="typeNumber" [(ngModel)]="empleado.empleadoNoi" min="0"
              class="form-control" [disabled]="isConsulta" />
          </div>
          <div class="col-sm"></div>
          <div class="col-sm"></div>
        </div>
      </div>
      <br />

    </p-accordionTab>
  </p-accordion>
  <p-toast></p-toast>
</div>
