<p-toast>
</p-toast>

<div class="main-container">

    <h1>Costo por empleado</h1>

    <div class="table-container">
        <p-table #tablaPrincipal class="tabla-filtro" [value]="costos" [paginator]="true" [showCurrentPageReport]="true" currentPageReportTemplate="Mostrando del {first} al {last} de {totalRecords} registros" [rowsPerPageOptions]="[10, 25, 50]" [rows]="10" paginatorPosition="both">
            <ng-template pTemplate="header">
                <tr>
                    <!-- <th>Opcion</th> -->
                    <th pSortableColumn="numEmpleadoRrHh">
                        <div class="d-flex align-items-center">No. Empleado
                            <p-sortIcon field="numEmpleadoRrHh"></p-sortIcon>
                        </div>
                    </th>
                    <th pSortableColumn="numEmpleadoNoi">
                        <div class="d-flex align-items-center">No. Empleado NOI
                            <p-sortIcon field="numEmpleadoNoi"></p-sortIcon>
                        </div>
                    </th>
                    <th pSortableColumn="nombreEmp">
                        <div class="d-flex align-items-center">Nombre
                            <p-sortIcon field="nombreEmp"></p-sortIcon>
                        </div>
                    </th>
                    <th pSortableColumn="ciudad">
                        <div class="d-flex align-items-center">Ciudad Base de Trabajo
                            <p-sortIcon field="falta"></p-sortIcon>
                        </div>
                    </th>
                    <th pSortableColumn="puesto">
                        <div class="d-flex align-items-center">Puesto
                            <p-sortIcon field="puesto"></p-sortIcon>
                        </div>
                    </th>
                    <!--<th pSortableColumn="reubicacion"><div class="d-flex align-items-center">Reubicación <p-sortIcon field="reubicacion"></p-sortIcon></div></th>-->
                    <th pSortableColumn="numProyecto">
                        <div class="d-flex align-items-center">Proyecto
                            <p-sortIcon field="numProyecto"></p-sortIcon>
                        </div>
                    </th>
                    <!--<th pSortableColumn="idUnidadNegocio"><div class="d-flex align-items-center">Unidad negocios <p-sortIcon field="idUnidadNegocio"></p-sortIcon></div></th>-->
                    <!--<th pSortableColumn="idEmpleadoJefe"><div class="d-flex align-items-center">Jefe Directo <p-sortIcon field="idEmpleadoJefe"></p-sortIcon></div></th>-->
                    <!--<th pSortableColumn="fechaIngreso"><div class="d-flex align-items-center">Ingreso <p-sortIcon field="fechaIngreso"></p-sortIcon></div></th>-->
                    <!--<th pSortableColumn="antiguedad"><div class="d-flex align-items-center">Antigüedad <p-sortIcon field="antiguedad"></p-sortIcon></div></th>-->
                    <!--<th pSortableColumn="avgDescuentoEmpleado"><div class="d-flex align-items-center">% a descontar al empleado <p-sortIcon field="avgDescuentoEmpleado"></p-sortIcon></div></th>-->
                    <!--<th pSortableColumn="montoDescuentoMensual"><div class="d-flex align-items-center">Monto descuento Mensual <p-sortIcon field="montoDescuentoMensual"></p-sortIcon></div></th>-->
                    <!--<th pSortableColumn="sueldoNetoPercibidoMensual"><div class="d-flex align-items-center">Sueldo Neto percibido Mensual <p-sortIcon field="sueldoNetoPercibidoMensual"></p-sortIcon></div></th>-->
                    <!--<th pSortableColumn="retencionImss"><div class="d-flex align-items-center">Retención Imss <p-sortIcon field="retencionImss"></p-sortIcon></div></th>-->
                    <!--<th pSortableColumn="ispt"><div class="d-flex align-items-center">Ispt <p-sortIcon field="ispt"></p-sortIcon></div></th>-->
                    <th pSortableColumn="sueldoBruto">
                        <div class="d-flex align-items-center">SUELDO BRUTO (inflación %)
                            <p-sortIcon field="sueldoBruto"></p-sortIcon>
                        </div>
                    </th>
                    <!--<th pSortableColumn="anual"><div class="d-flex align-items-center">Anual <p-sortIcon field="anual"></p-sortIcon></div></th>-->
                    <!--<th pSortableColumn="aguinaldoCantMeses"><div class="d-flex align-items-center">Cant (Meses) <p-sortIcon field="aguinaldoCantMeses"></p-sortIcon></div></th>-->
                    <!--<th pSortableColumn="aguinaldoMontoProvisionMensual"><div class="d-flex align-items-center">Monto (Provisión Mensual) <p-sortIcon field="aguinaldoMontoProvisionMensual"></p-sortIcon></div></th>-->
                    <!--<th pSortableColumn="pvDiasVacasAnuales"><div class="d-flex align-items-center">Dias Vacas Anuales <p-sortIcon field="pvDiasVacasAnuales"></p-sortIcon></div></th>-->
                    <!--<th pSortableColumn="pvProvisionMensual"><div class="d-flex align-items-center">Prima Vacacional (provisión Mensual) <p-sortIcon field="pvProvisionMensual"></p-sortIcon></div></th>-->
                    <!--<th pSortableColumn="indemProvisionMensual"><div class="d-flex align-items-center">Provisión Mensual <p-sortIcon field="indemProvisionMensual"></p-sortIcon></div></th>
          <th pSortableColumn="avgBonoAnualEstimado"><div class="d-flex align-items-center">% Bono Anual estimado <p-sortIcon field="avgBonoAnualEstimado"></p-sortIcon></div></th>
          <th pSortableColumn="bonoAnualProvisionMensual"><div class="d-flex align-items-center">Provisión Mensual <p-sortIcon field="bonoAnualProvisionMensual"></p-sortIcon></div></th>
          <th pSortableColumn="sgmmCostoTotalAnual"><div class="d-flex align-items-center">Costo total Anual SGMM <p-sortIcon field="sgmmCostoTotalAnual"></p-sortIcon></div></th>
          <th pSortableColumn="sgmmCostoMensual"><div class="d-flex align-items-center">SGMM (Costo Mensual) <p-sortIcon field="sgmmCostoMensual"></p-sortIcon></div></th>
          <th pSortableColumn="svCostoTotalAnual"><div class="d-flex align-items-center">Costo total Anual <p-sortIcon field="svCostoTotalAnual"></p-sortIcon></div></th>
          <th pSortableColumn="svCostoMensual"><div class="d-flex align-items-center">Costo Mensual <p-sortIcon field="svCostoMensual"></p-sortIcon></div></th>
          <th pSortableColumn="vaidCostoMensual"><div class="d-flex align-items-center">Costo Mensual <p-sortIcon field="vaidCostoMensual"></p-sortIcon></div></th>
          <th pSortableColumn="vaidComisionCostoMensual"><div class="d-flex align-items-center">Comisión (Costo Mensual) <p-sortIcon field="vaidComisionCostoMensual"></p-sortIcon></div></th>
          <th pSortableColumn="ptuProvision"><div class="d-flex align-items-center">Provisión PTU <p-sortIcon field="ptuProvision"></p-sortIcon></div></th>
          <th pSortableColumn="falta"><div class="d-flex align-items-center">Vivienda <p-sortIcon field="falta"></p-sortIcon></div></th>
          <th pSortableColumn="falta"><div class="d-flex align-items-center">Automóvil <p-sortIcon field="falta"></p-sortIcon></div></th>
          <th pSortableColumn="falta"><div class="d-flex align-items-center">Viáticos a comprobar <p-sortIcon field="falta"></p-sortIcon></div></th>
          <th pSortableColumn="falta"><div class="d-flex align-items-center">Bono Adicional (beneficio) <p-sortIcon field="falta"></p-sortIcon></div></th>
          <th pSortableColumn="falta"><div class="d-flex align-items-center">Gasolina <p-sortIcon field="falta"></p-sortIcon></div></th>
          <th pSortableColumn="falta"><div class="d-flex align-items-center">Casetas <p-sortIcon field="falta"></p-sortIcon></div></th>
          <th pSortableColumn="falta"><div class="d-flex align-items-center">Ayuda de transporte <p-sortIcon field="falta"></p-sortIcon></div></th>
          <th pSortableColumn="falta"><div class="d-flex align-items-center">Vuelos de Avión <p-sortIcon field="falta"></p-sortIcon></div></th>
          <th pSortableColumn="falta"><div class="d-flex align-items-center">Provisión impuestos Expats <p-sortIcon field="falta"></p-sortIcon></div></th>
          <th pSortableColumn="falta"><div class="d-flex align-items-center">Fringe Expats <p-sortIcon field="falta"></p-sortIcon></div></th>
          <th pSortableColumn="falta"><div class="d-flex align-items-center">Programa de entrenamiento <p-sortIcon field="falta"></p-sortIcon></div></th>
          <th pSortableColumn="falta"><div class="d-flex align-items-center">Eventos especiales <p-sortIcon field="falta"></p-sortIcon></div></th>
          <th pSortableColumn="falta"><div class="d-flex align-items-center">Costo IT <p-sortIcon field="falta"></p-sortIcon></div></th>
          <th pSortableColumn="falta"><div class="d-flex align-items-center">Costo telefonía <p-sortIcon field="falta"></p-sortIcon></div></th>
          <th pSortableColumn="falta"><div class="d-flex align-items-center">S.V. Directivos <p-sortIcon field="falta"></p-sortIcon></div></th>
          <th pSortableColumn="falta"><div class="d-flex align-items-center">Facturación BPM <p-sortIcon field="falta"></p-sortIcon></div></th>
          <th pSortableColumn="impuesto3sNomina"><div class="d-flex align-items-center">IMPUESTO 3% S/Nomina <p-sortIcon field="impuesto3sNomina"></p-sortIcon></div></th>
          <th pSortableColumn="imss"><div class="d-flex align-items-center">IMSS <p-sortIcon field="imss"></p-sortIcon></div></th>
          <th pSortableColumn="retiro2"><div class="d-flex align-items-center">RETIRO 2 <p-sortIcon field="retiro2"></p-sortIcon></div></th>
          <th pSortableColumn="cesantesVejez"><div class="d-flex align-items-center">C Y V <p-sortIcon field="cesantesVejez"></p-sortIcon></div></th>
          <th pSortableColumn="infonavit"><div class="d-flex align-items-center">INVONAVIT <p-sortIcon field="infonavit"></p-sortIcon></div></th>-->
                    <th pSortableColumn="cargasSociales">
                        <div class="d-flex align-items-center">CARGAS SOCIALES
                            <p-sortIcon field="cargasSociales"></p-sortIcon>
                        </div>
                    </th>
                    <th pSortableColumn="falta">
                        <div class="d-flex align-items-center">Costo Mensual Empleado
                            <p-sortIcon field="falta"></p-sortIcon>
                        </div>
                    </th>
                    <!--<th pSortableColumn="ctlCostoMensualProyecto"><div class="d-flex align-items-center">Costo Mensual Proyecto <p-sortIcon field="ctlCostoMensualProyecto"></p-sortIcon></div></th>
          <th pSortableColumn="falta"><div class="d-flex align-items-center">Costo Empleado Anual MN <p-sortIcon field="falta"></p-sortIcon></div></th>
          <th pSortableColumn="falta"><div class="d-flex align-items-center">% Costo total / Salario Bruto <p-sortIcon field="falta"></p-sortIcon></div></th>
          <th pSortableColumn="falta"><div class="d-flex align-items-center">% Costo total / Salario Neto <p-sortIcon field="falta"></p-sortIcon></div></th>
          <th pSortableColumn="falta"><div class="d-flex align-items-center">Sueldo Bruto <p-sortIcon field="falta"></p-sortIcon></div></th>
          <th pSortableColumn="falta"><div class="d-flex align-items-center">Rango Inferior <p-sortIcon field="falta"></p-sortIcon></div></th>
          <th pSortableColumn="falta"><div class="d-flex align-items-center">Rango superior <p-sortIcon field="falta"></p-sortIcon></div></th>
          <th pSortableColumn="falta"><div class="d-flex align-items-center">Inferior al mínimo <p-sortIcon field="falta"></p-sortIcon></div></th>
          <th pSortableColumn="falta"><div class="d-flex align-items-center">% <p-sortIcon field="falta"></p-sortIcon></div></th>
          <th pSortableColumn="falta"><div class="d-flex align-items-center">Superior al máximo <p-sortIcon field="falta"></p-sortIcon></div></th>
          <th pSortableColumn="falta"><div class="d-flex align-items-center">% <p-sortIcon field="falta"></p-sortIcon></div></th>
          <th pSortableColumn="falta"><div class="d-flex align-items-center">Vivienda <p-sortIcon field="falta"></p-sortIcon></div></th>
          <th pSortableColumn="falta"><div class="d-flex align-items-center">Automóvil <p-sortIcon field="falta"></p-sortIcon></div></th>
          <th pSortableColumn="falta"><div class="d-flex align-items-center">Viáticos a comprobar <p-sortIcon field="falta"></p-sortIcon></div></th>
          <th pSortableColumn="falta"><div class="d-flex align-items-center">Bono Adicional reubicación <p-sortIcon field="falta"></p-sortIcon></div></th>
          <th pSortableColumn="falta"><div class="d-flex align-items-center">Gasolina <p-sortIcon field="falta"></p-sortIcon></div></th>
          <th pSortableColumn="falta"><div class="d-flex align-items-center">Casetas <p-sortIcon field="falta"></p-sortIcon></div></th>
          <th pSortableColumn="falta"><div class="d-flex align-items-center">Ayuda de transporte <p-sortIcon field="falta"></p-sortIcon></div></th>
          <th pSortableColumn="falta"><div class="d-flex align-items-center">Vuelos de Avión <p-sortIcon field="falta"></p-sortIcon></div></th>
          <th pSortableColumn="falta"><div class="d-flex align-items-center">Provisión impuestos Expats <p-sortIcon field="falta"></p-sortIcon></div></th>
          <th pSortableColumn="falta"><div class="d-flex align-items-center">Fringe Expats <p-sortIcon field="falta"></p-sortIcon></div></th>
          <th pSortableColumn="falta"><div class="d-flex align-items-center">Programa de entrenamiento <p-sortIcon field="falta"></p-sortIcon></div></th>
          <th pSortableColumn="falta"><div class="d-flex align-items-center">Eventos especiales <p-sortIcon field="falta"></p-sortIcon></div></th>
          <th pSortableColumn="falta"><div class="d-flex align-items-center">Otros <p-sortIcon field="falta"></p-sortIcon></div></th>
          <th pSortableColumn="falta"><div class="d-flex align-items-center">Costo IT <p-sortIcon field="falta"></p-sortIcon></div></th>
          <th pSortableColumn="falta"><div class="d-flex align-items-center">Costo telefonía <p-sortIcon field="falta"></p-sortIcon></div></th>
          <th pSortableColumn="falta"><div class="d-flex align-items-center">S.V. Directivos <p-sortIcon field="falta"></p-sortIcon></div></th>
          <th pSortableColumn="falta"><div class="d-flex align-items-center">Facturación BPM <p-sortIcon field="falta"></p-sortIcon></div></th>-->
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-costo>
                <tr>
                    <td>{{costo.numEmpleadoRrHh}}</td>
                    <td>{{costo.numEmpleadoNoi}}</td>
                    <td>{{costo.nombreCompletoEmpleado}}</td>
                    <td>{{costo.ciudad}}</td>
                    <td>{{costo.puesto}}</td>
                    <td>{{costo.proyecto}}</td>
                    <td>{{costo.sueldoBrutoInflacion|currency}}</td>
                    <td>{{costo.cargasSociales|currency}}</td>
                    <td>{{costo.costoMensualEmpleado|currency}}</td>
                    <!--td>{{costo.fechaIngreso}}</td>
          <td>{{costo.antiguedad}}</td>
          <td>{{costo.avgDescuentoEmpleado}}</td>
          <td>{{costo.montoDescuentoMensual}}</td>
          <td>{{costo.sueldoNetoPercibidoMensual}}</td>
          <td>{{costo.retencionImss}}</td>
          <td>{{costo.ispt}}</td>
          <td>{{costo.sueldoBruto}}</td>
          <td>{{costo.anual}}</td>
          <td>{{costo.aguinaldoCantMeses}}</td>
          <td>{{costo.aguinaldoMontoProvisionMensual}}</td>
          <td>{{costo.pvDiasVacasAnuales}}</td>
          <td>{{costo.pvProvisionMensual}}</td>
          <td>{{costo.indemProvisionMensual}}</td>
          <td>{{costo.avgBonoAnualEstimado}}</td>
          <td>{{costo.bonoAnualProvisionMensual}}</td>
          <td>{{costo.sgmmCostoTotalAnual}}</td>
          <td>{{costo.sgmmCostoMensual}}</td>
          <td>{{costo.svCostoTotalAnual}}</td>
          <td>{{costo.svCostoMensual}}</td>
          <td>{{costo.vaidCostoMensual}}</td>
          <td>{{costo.vaidComisionCostoMensual}}</td>
          <td>{{costo.ptuProvision}}</td>
          <td>FALTA</td>
          <td>FALTA</td>
          <td>FALTA</td>
          <td>FALTA</td>
          <td>FALTA</td>
          <td>FALTA</td>
          <td>FALTA</td>
          <td>FALTA</td>
          <td>FALTA</td>
          <td>FALTA</td>
          <td>FALTA</td>
          <td>FALTA</td>
          <td>FALTA</td>
          <td>FALTA</td>
          <td>FALTA</td>
          <td>FALTA</td>
          <td>{{costo.impuesto3sNomina}}</td>
          <td>{{costo.imss}}</td>
          <td>{{costo.retiro2}}</td>
          <td>{{costo.cesantesVejez}}</td>
          <td>{{costo.infonavit}}</td>
          <td>{{costo.cargasSociales}}</td>
          <td>FALTA</td>
          <td>{{costo.ctlCostoMensualProyecto}}</td>
          <td>FALTA</td>
          <td>FALTA</td>
          <td>FALTA</td>

          <td>FALTA</td>
          <td>FALTA</td>
          <td>FALTA</td>
          <td>FALTA</td>
          <td>FALTA</td>
          <td>FALTA</td>
          <td>FALTA</td>

          <td>FALTA</td>
          <td>FALTA</td>
          <td>FALTA</td>
          <td>FALTA</td>
          <td>FALTA</td>
          <td>FALTA</td>
          <td>FALTA</td>
          <td>FALTA</td>
          <td>FALTA</td>
          <td>FALTA</td>
          <td>FALTA</td>
          <td>FALTA</td>
          <td>FALTA</td>
          <td>FALTA</td>
          <td>FALTA</td>
          <td>FALTA</td>
          <td>FALTA</td-->
                </tr>
            </ng-template>
        </p-table>
    </div>

</div>