<p-toast>
</p-toast>

<form [formGroup]="form" (ngSubmit)="guardar()">
    <div class="main-container">

        <p-toolbar styleClass="p-1 mb-4 d-flex justify-content-end gap-2 text-right">
            <button type="button" class="btn btn-secondary" routerLink="/contratos/plantillas"><i class="fas fa-arrow-left"></i> Regresar</button>
            <button type="button" class="btn btn-dark" (click)="limpiar()"><i class="fas fa-eraser"></i> Limpiar campos</button>
            <button type="button" class="btn btn-primary" (click)="guardar()" [disabled]="!form.valid"><i class="fas fa-save"></i> {{ !esActualizacion ? 'Guardar' : 'Actualizar'}}</button>
        </p-toolbar>

        <div class="row">
            <div class="col-12">
                <label for="titulo">Título:</label>
                <input id="titulo" pInputText class="form-control" maxlength="50" formControlName="titulo" [ngClass]="{'ng-invalid ng-dirty': esInvalido('titulo')}">
                <div *ngIf="esInvalido('titulo')">
                    <small class="error-msg">
              {{ obtenerMensajeError('titulo') }}
            </small>
                </div>
            </div>
            <div class="col-12">
                <label for="template">Plantilla:</label>
                <p-editor formControlName="template" [style]="{ height: '320px' }" [ngClass]="{'ng-invalid ng-dirty': esInvalido('template')}">
                </p-editor>
                <div *ngIf="esInvalido('template')">
                    <small class="error-msg">
              {{ obtenerMensajeError('template') }}
            </small>
                </div>
            </div>
        </div>
    </div>
</form>