<p-toast>
</p-toast>

<div class="main-container">
    <h1>Bovis - Control Mensual de Tiempos</h1>

    <div class="grid mb-5">
        <div class="col">
            <label for="empleado">Fecha:</label>
            <p-calendar view="month" dateFormat="m/yy" [readonlyInput]="true" (onSelect)="onSelectFecha($event)" [style]="{width: '100%'}" placeholder="Seleccionar un mes..."></p-calendar>
        </div>
    </div>

    <div *ngIf="data.length > 0">
        <p-toolbar styleClass="p-1 mb-0 d-flex justify-content-end gap-2 text-right border-none">
            <p-button label="Exportar Excel" icon="pi pi-file-excel" styleClass="p-button-success" (click)="exportJsonToExcel()">
            </p-button>
        </p-toolbar>
        <p-table [value]="data" [tableStyle]="{ 'min-width': '50rem' }" styleClass="p-datatable-striped">
            <ng-template pTemplate="header">
                <tr>
                    <th>Count</th>
                    <th pSortableColumn="timesheet.coi_empresa">
                        <div class="d-flex align-items-center">COI
                            <p-sortIcon field="timesheet.coi_empresa"></p-sortIcon>
                        </div>
                    </th>
                    <th pSortableColumn="timesheet.noi_empresa">
                        <div class="d-flex align-items-center">NOI
                            <p-sortIcon field="timesheet.noi_empresa"></p-sortIcon>
                        </div>
                    </th>
                    <th pSortableColumn="timesheet.noi_empleado">
                        <div class="d-flex align-items-center">CVE
                            <p-sortIcon field="timesheet.noi_empleado"></p-sortIcon>
                        </div>
                    </th>
                    <th pSortableColumn="timesheet.num_empleado">
                        <div class="d-flex align-items-center">No Empleado
                            <p-sortIcon field="timesheet.num_empleado"></p-sortIcon>
                        </div>
                    </th>
                    <th></th>
                    <th pSortableColumn="timesheet.empleado">
                        <div class="d-flex align-items-center">Empleado
                            <p-sortIcon field="timesheet.empleado"></p-sortIcon>
                        </div>
                    </th>
                    <th pSortableColumn="timesheet.responsable">
                        <div class="d-flex align-items-center">Responsable
                            <p-sortIcon field="timesheet.responsable"></p-sortIcon>
                        </div>
                    </th>
                    <th>{{totalPorcentaje}}%</th>
                    <th *ngFor="let proyecto of proyectos" [pTooltip]="proyecto.nombre">
                        {{proyecto.id}}
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="footer">
                <tr>
                    <th [colSpan]="8"></th>
                    <th>{{totalPorcentaje}}%</th>
                    <th *ngFor="let proyecto of proyectos" [pTooltip]="proyecto.nombre">
                        {{proyecto.dedicacion}}%
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-record>
                <tr>
                    <td>1</td>
                    <td>{{record.timesheet.coi_empresa}}</td>
                    <td>{{record.timesheet.noi_empresa}}</td>
                    <td>{{record.timesheet.noi_empleado}}</td>
                    <td>{{record.timesheet.num_empleado}}</td>
                    <td>1</td>
                    <td>{{record.timesheet.empleado}}</td>
                    <td>{{record.timesheet.responsable}}</td>
                    <td>{{record.timesheet.proyectos | sumaPorcentajes}}</td>
                    <td *ngFor="let proyecto of record.participacion">
                        {{proyecto.dedicacion > 0 ? proyecto.dedicacion + '%' : ''}}
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>