<p-toast>
</p-toast>

<form [formGroup]="form" (ngSubmit)="guardar()">
    <div>

        <div class="row">
            <div class="col-12">
                <label for="perfil">Perfil:</label>
                <input id="perfil" pInputText class="form-control" maxlength="50" formControlName="perfil" [ngClass]="{'ng-invalid ng-dirty': esInvalido('perfil')}">
                <div *ngIf="esInvalido('perfil')">
                    <small class="error-msg">
              {{ obtenerMensajeError('perfil') }}
            </small>
                </div>
            </div>
            <div class="col-12">
                <label for="descripcion">Descripción:</label>
                <textarea rows="5" cols="30" pInputTextarea class="form-control" [ngClass]="{'ng-invalid ng-dirty': esInvalido('descripcion')}" formControlName="descripcion"></textarea>
                <div *ngIf="esInvalido('descripcion')">
                    <small class="error-msg">
            {{ obtenerMensajeError('descripcion') }}
          </small>
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-end mt-2">
            <button type="button" class="btn btn-primary" (click)="guardar()" [disabled]="!form.valid"><i class="fas fa-save"></i> Guardar</button>
        </div>

    </div>
</form>