<div>
  <p-table [value]="proyectos" [tableStyle]="{ 'min-width': '100%' }">
    <ng-template pTemplate="header">
        <tr>
            <th>No. proyecto</th>
            <th>Nombre</th>
            <th>% Participación</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-proyecto>
        <tr>
            <td>{{ proyecto.nunum_proyecto }}</td>
            <td>{{ proyecto.chproyecto }}</td>
            <td>{{ proyecto.nuporcantaje_participacion }}</td>
        </tr>
    </ng-template>
  </p-table>
</div>