
<p-toast></p-toast>

<div class="main-container">
  
  <h1>Carga SAE</h1>

  <div class="grid">
    <!-- Campo de empresa -->
    <div class="col">
      <label for="company">Empresa:</label>
      <br>
      <p-dropdown 
        id="company" 
        [options]="companyOptions" 
        (onChange)="onChangeCompany($event)"
        placeholder="Seleccionar una empresa" 
        optionLabel="name" 
        [showClear]="true"
        [style]="{ width: '100%' }"
        [filter]="true" 
        filterBy="name"
      ></p-dropdown>
    </div>
    <!-- Campo de xlsx -->
    <div class="col">
      <label for="xlsxFile">Selección de SAE:</label>
      <p-fileUpload 
        id="xlsxFile" 
        #fileUpload 
        mode="basic" 
        [customUpload]="true" 
        accept=".xlsx" 
        (onSelect)="onBasicUpload($event, fileUpload)"
        [multiple]="true" 
        [maxFileSize]="fileSizeMax" 
        chooseLabel="Cargar XLSX" 
        [disabled]="isLoadingFile || !selectedOption"
      ></p-fileUpload>
    </div>
  </div>

  <div *ngIf="uploaded" class="d-flex flex-column gap-2">
    <label><b>Archivo cargado:</b> {{currentFileName}}</label>
    <p-toolbar styleClass="p-1 mb-2 d-flex justify-content-start gap-2">
        <p-button
          label="Exportar Excel"
          icon="pi pi-file-excel" 
          styleClass="p-button-success" 
          (click)="exportJsonToExcel()">
        </p-button>
        <p-button 
          label="Cargar" 
          icon="pi pi-upload"
          styleClass="p-button-info"
          (onClick)="cargar()"
          [disabled]="cuentasFaltantes.length > 0"
        ></p-button>
        <p-button 
          label="Cargar Cuentas Faltantes" 
          icon="pi pi-upload"
          styleClass="p-button-danger"
          (onClick)="cargarCuentasFaltantes()"
          *ngIf="cuentasFaltantes.length > 0"
        ></p-button>
    </p-toolbar>
    <p-table 
      [value]="jsonData" 
      [tableStyle]="{ 'min-width': '50rem' }"
      [paginator]="true"
      [showCurrentPageReport]="true"
      currentPageReportTemplate="Mostrando del {first} al {last} de {totalRecords} registros"
      [rowsPerPageOptions]="[10, 25, 50]"
      [rows]="10"
    >
      <ng-template pTemplate="header">
          <tr>
              <th *ngFor="let header of cieHeadersLocal">
                {{header}}
              </th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-record>
          <tr [ngClass]="{'invalid-tr': !record.edo_resultados}">
            <td>{{record.nombre_cuenta}}</td>
            <td>{{record.cuenta}}</td>
            <td>{{record.tipo_poliza}}</td>
            <td>{{record.numero}}</td>
            <td>{{record.fecha}}</td>
            <td>{{record.mes}}</td>
            <td>{{record.concepto}}</td>
            <td>{{record.centro_costos}}</td>
            <td>{{record.proyectos}}</td>
            <td>{{record.saldo_inicial | currency}}</td>
            <td>{{record.debe | currency}}</td>
            <td>{{record.haber | currency}}</td>
            <td>{{record.movimiento | currency}}</td>
            <td>{{record.empresa}}</td>
            <td>{{record.num_proyecto}}</td>
            <td>{{record.tipo_proyecto}}</td>
            <td>{{record.edo_resultados}}</td>
            <td>{{record.responsable}}</td>
            <td>{{record.tipo_cuenta}}</td>
            <td>{{record.tipo_py}}</td>
            <td>{{record.clasificacion_py}}</td>
          </tr>
      </ng-template>
  </p-table>
  </div>
  
  <div class="grid">
    <!-- Campo de empresa -->
    <div class="col">
      <!-- <pre for="company" style="background-color: rgb(219, 219, 219); color: rgb(164, 24, 24);">{{jsonFormateado}}</pre> -->
    </div>
  </div>

</div>
