/* You can add global styles to this file, and also import other style files */


/* @import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.container { margin: 1%; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */


/* @import '~@angular/material/prebuilt-themes/deeppurple-amber.css'; */


/* html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.container { margin: 1%; } */


/* Inicio */

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
@import url(../node_modules//quill/dist/quill.snow.css);
@import url(../node_modules//quill/dist/quill.core.css);
body {
    font-family: "Poppins", sans-serif;
    background-color: #fafafa;
    /* background-image: url('assets/images/decoration-img.png'); */
}


/** PERSONALIZACION **/

.bg-white {
    background-color: #fff;
}

.wrapper {
    display: grid;
    grid-template-columns: 7rem 1fr;
}

.content {
    overflow-x: hidden;
}

.menu-principal {
    max-width: 7rem;
}

.menu-principal .p-menuitem-icon {
    width: 3rem;
    font-size: 2rem;
}

.menu-principal .icon-empleado {
    content: url('assets/icons-menu/Gestión_Empleados.png');
}

.menu-principal .icon-timesheet {
    content: url('assets/icons-menu/Gestión-Timesheet.png');
}

.menu-principal .icon-costos {
    content: url('assets/icons-menu/Gestión-Costos.png');
}

.menu-principal .icon-cie {
    content: url('assets/icons-menu/Gestión-CIE.png');
}

.menu-principal .icon-pcs {
    content: url('assets/icons-menu/Gestión-PCS.png');
}

.menu-principal .icon-auditoria-legal {
    content: url('assets/icons-menu/Gestión-Auditoria legal.png');
}

.menu-principal .icon-reportes {
    content: url('assets/icons-menu/Gestión-Reporte.png');
}

.menu-principal .icon-pec {
    content: url('assets/icons-menu/Gestión-PEC.png');
}

.menu-principal .icon-facturacion {
    content: url('assets/icons-menu/Gestión-Facturación.png');
}

.menu-principal .icon-admin {
    content: url('assets/icons-menu/Gestión-Admin.png');
}

.menu-principal .icon-catalogos {
    content: url('assets/icons-menu/Gestión-Catalogos.png');
}

.menu-principal .p-megamenu-panel {
    /* background-color: #f8f9fa; */
    border-radius: 1rem;
}

.menu-principal .p-menuitem-link:not(.p-disabled):hover {
    /* background-image: url('assets/images/decoration-img.png'); */
    background-size: 10rem;
    border-radius: .5rem;
}


/** BOTONES **/

.p-button {
    padding: 0.5rem 1.25rem;
    background: var(--bluegray-300);
    border: 1px solid var(--bluegray-300);
}

.p-button:enabled:hover {
    background: var(--bluegray-400);
    border: 1px solid var(--bluegray-400);
}

.p-button.f-2x .p-button-icon-left {
    font-size: 1.5rem;
}

.p-button.f-2x .p-button-icon {
    font-size: 1.5rem;
}


/**  CALENDARIO **/

.p-inputtext,
.p-button.p-button-icon-only {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}


/** TABLA **/

table {
    font-size: 0.9rem;
}

.p-datatable .p-datatable-thead>tr>th {
    background-color: var(--bluegray-300) !important;
    color: var(--surface-50) !important;
}

.p-datatable .p-datatable-thead>tr>th,
.p-datatable .p-datatable-tbody>tr>td {
    padding: 0.75rem !important;
}


/** CALENDARIO **/

.p-datepicker .p-datepicker-header {
    padding: 0;
}

.p-datepicker table {
    margin: 0;
}

.p-datepicker table th {
    background-color: var(--bluegray-300) !important;
    color: var(--surface-50) !important;
    text-align: center;
}

.p-datepicker table th,
.p-datepicker table td {
    padding: 0.25rem;
}

.p-datepicker table td>span {
    height: 2rem;
    width: 2rem;
}


/** CHIP **/

.p-chip-text {
    font-size: 0.75rem;
}

a {
    color: blue
}


/* p {
  font-family: "Poppins", sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}
a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}
.navbar {
  padding: 15px 10px;
  background: #fff;
  border: none;
  border-radius: 0;
  margin-bottom: 40px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
}

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}
#sidebar {
  min-width: 170px;
  max-width: 170px;
  background: #03a7bb;
  color: #fff;
  transition: all 0.3s;
}
#sidebar.active {
  margin-left: -250px;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: #03a7bb;
}
#sidebar ul.components {
  padding: 20px 0px;
  border-bottom: 1px solid #47748b;
}

#sidebar ul p {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}
#sidebar ul li a:hover {
  color: #03a7bb;
  background: #fff;
}

#sidebar ul li.active > a,
a[aria-expanded="true"] {
  color: #fff;
  background: #03a7bb;
}
a[data-toggle="collapse"] {
  position: relative;
}
.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 10px !important;
  background: #03a7bb;
}

ul.CTAs {
  padding: 20px;
}

ul.CTAs a {
  text-align: center;
  font-size: 0.9em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
}
a.download {
  background: #fff;
  color: #03a7bb;
}
a.article,
a.article:hover {
  background: #03a7bb !important;
  color: #fff !important;
}

#content {
  width: 100%;
  padding: 20px;
  min-height: 100vh;
  transition: all 0.3s;
} */


/* .left-menu {
  min-width: 190px;
  height: 700px;
} */

@media (maz-width: 768px) {
    /* #sidebar {
    margin-left: -250px;
  }
  #sidebar.active {
    margin-left: 0px;
  }
  #sidebarCollapse span {
    display: none;
  } */
}


/* Agregado por sebastian.flores */

.main-app {
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
}

.main-container {
    margin: 2rem;
}

.table-container {
    overflow-x: auto;
    min-height: 70vh;
}

.buttons-container {
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
}

.p-tabmenu .p-tabmenu-nav .p-tabmenuitem.p-highlight .p-menuitem-link {
    color: var(--dark-blue, #00436C) !important;
    border-color: var(--dark-blue) !important;
}

.custom-input-number .p-inputnumber-input {
    max-width: 5rem !important;
}

.p-multiselect-label {
    flex-wrap: wrap;
}

.error-msg {
    color: var(--red-600);
}

.p-megamenu-panel {
    z-index: 99 !important;
}

tfoot th {
    padding: 0.75rem !important;
}

.full-width {
    width: 100% !important;
}

.full-width .p-inputnumber {
    display: block;
    width: 100% !important;
}

.full-width .p-inputnumber input {
    width: 100% !important;
}

.invalid-tr {
    color: red !important;
}

.readonly-field input {
    background-color: var(--bs-gray-200);
}

.tabla-filtro table {
    min-height: 600px !important;
}

span.required {
    color: red !important;
}

span.required:after {
    content: '*';
}

.main-table table tr:nth-child(2n) {
    background-color: #EEEEEE;
}

.pointer {
    cursor: pointer;
}

.loading-div {
    min-height: 300px;
}

input.p-inputnumber-input {
    width: 100% !important;
}

.super-z-index {
    z-index: 9999999 !important;
}