<p-toast>
</p-toast>


<div class="main-container">

    <h1>Módulos</h1>

    <!-- <p-toolbar styleClass="p-1 mb-2 d-flex justify-content-start gap-2">  
        <button 
        type="submit" 
        class="btn btn-info"
        routerLink="/usuarios/registro"
        >
        Nuevo
        </button>
    </p-toolbar> -->

    <p-table #tablaPrincipal [value]="modulos" [paginator]="true" [showCurrentPageReport]="true" currentPageReportTemplate="Mostrando del {first} al {last} de {totalRecords} registros" [rowsPerPageOptions]="[10, 25, 50]" [rows]="10" paginatorPosition="both"
        [globalFilterFields]="['modulo', 'subModulo']">
        <ng-template pTemplate="caption">
            <div class="flex">
                <span class="p-input-icon-left ml-auto">
                    <i class="pi pi-search"></i>
                    <input pInputText #buscador type="text" (input)="tablaPrincipal.filterGlobal(buscador.value, 'contains')" placeholder="Buscar..." />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <!-- <th>ID</th> -->
                <th pSortableColumn="modulo">
                    <div class="d-flex align-items-center">Módulo
                        <p-sortIcon field="modulo"></p-sortIcon>
                    </div>
                </th>
                <th pSortableColumn="subModulo">
                    <div class="d-flex align-items-center">Submódulo
                        <p-sortIcon field="subModulo"></p-sortIcon>
                    </div>
                </th>
                <th class="text-center">Pestaña</th>
                <th>Activo</th>
                <!-- <th class="text-center">Opciones</th> -->
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-modulo let-i="rowIndex">
            <tr>
                <!-- <td>{{modulo.idModulo}}</td> -->
                <td>{{modulo.modulo}}</td>
                <td>{{modulo.subModulo}}</td>
                <td class="text-center">
                    <p-badge severity="success" *ngIf="modulo.isTab" [value]="modulo.tab"></p-badge>
                </td>
                <td>{{modulo.activo}}</td>
                <!-- <td class="text-align">
                <div class="d-flex justify-content-center gap-3">
                    <button
                    title="Modificar modulos" 
                    pButton 
                    pRipple 
                    icon="pi pi-cog" 
                    class="p-button-rounded p-button-info p-mr-2"
                    [routerLink]="['/usuarios/modulos', modulo.idModulo]"
                    ></button>
                </div>
            </td> -->
            </tr>
        </ng-template>
    </p-table>
</div>